<ion-header>
  <ion-toolbar>
    <ion-title>
      Video Player
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let video of videos" (click)="play(video.nativeURL)">
      <ion-thumbnail slot="start">
        <img ng-src="getThumbnail(video.nativeURL, video.name)">
        <!-- <img ng-src="video.nativeURL"> -->
      </ion-thumbnail>
      <ion-label>{{video.name}}</ion-label>
      <!-- <ion-label>{{getThumbnail(video.nativeURL)}}</ion-label> -->
      <!-- <ion-label>{{video.isFile}}</ion-label> -->
      <!-- <ion-label>{{video.isDirectory}}</ion-label> -->
    </ion-item>
  </ion-list>
</ion-content>