<ion-header>
  <ion-toolbar>
    <ion-title>
      Video Player
      <ion-icon name="grid-outline" (click)="viewMode = 'LIST'"></ion-icon>
      <ion-icon name="list-outline" (click)="viewMode = 'TILE'"></ion-icon>
      <a *ngIf="history.length > 0" (click)="goBack()" class="right">Go Back</a>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="videos">
    <ion-list *ngIf="viewMode == 'LIST'">
      <ion-item *ngFor="let video of videos" (click)="play(video)">
        <ion-thumbnail slot="start">
          <ion-icon *ngIf="isDirectory" name="albums-outline"></ion-icon>
          <img *ngIf="isFile" ng-src="getThumbnail(video.nativeURL, video.name)">
          <!-- <img ng-src="video.nativeURL"> -->
        </ion-thumbnail>
        <ion-label>{{video.name}}</ion-label>
        <!-- <ion-label>{{getThumbnail(video.nativeURL)}}</ion-label> -->
        <!-- <ion-label>{{video.isFile}}</ion-label> -->
        <!-- <ion-label>{{video.isDirectory}}</ion-label> -->
      </ion-item>
      <ion-item *ngIf="videos.length == 0">
        <p class="center">No videos available</p>
      </ion-item>
    </ion-list>
  </div>

  <!-- Skeleton screen -->
  <div *ngIf="!videos">
    <ion-list>
      <ion-item *ngFor="let key of [1,2,3,4,5,6,7,8,9,10]">
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <ion-card *ngIf="viewMode == 'TILE'">
    <ion-item *ngFor="let video of videos" (click)="play(video.nativeURL)">
      <ion-icon *ngIf="isDirectory" name="albums-outline"></ion-icon>
      <img *ngIf="isFile" ng-src="getThumbnail(video.nativeURL, video.name)">
      <ion-label>{{video.name}}</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
